# Ignore these files & directories
.DS_Store
node_modules
*.csv
lib/config
lib/email/emails.js
sql/Finance/Commissions/*
sql/Dimension/MPR/*
sql/Finance/HA/Cms_Domestic_HA.sql

# Unless they match this file path
!sql/Dimension/MPR/BaseMPR.sql
!sql/Dimension/MPR/psql_MPR_Analytics.sql