# Ignore these files & directories
.DS_Store
node_modules
*.csv
sql/Finance/Commissions
sql/Dimension/MPR
sql/Finance/HA/Cms_Domestic_HA.sql

# Ignore the stuff in the public directory except for ...
lib/config
lib/email/emails.js

# Unless they match this file path
