##### VARIABLES #####
	PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/skilbjo/.local/bin:/home/skilbjo/bin
	MAILTO=jskilbeck@yapstone.com
	DAILY="/home/skilbjo/code/node/app/schedlr/jobs/Daily"

##### Daily #####
	## TPV reports
		0 19 * * 2-6 cd $DAILY ; node Daily_TPV.js >/dev/null
		1 19 * * 2-6 cd $DAILY ; node Daily_Card_Volume.js >/dev/null
		1 16 * * 2-6 cd $DAILY ; node Daily_Cash.js >/dev/null
		0 12 * * 2-6 cd $DAILY ; node YapDM_Records >/dev/null

	## Testing
		25 16 * * * cd $DAILY ; node test_Daily_TPV.js >/dev/null
		25 16 * * * cd $DAILY ; node test_Daily_Card_Volume.js >/dev/null

##### Monthly #####
	## Analytics
		0 20 3,10 * * cd $ANALYTICS ; node TPV_Vertical_m_ytd_v.js >/dev/null
		0 20 3,10 * * cd $ANALYTICS ; node TPV_PaymentType_m_ytd_v.js >/dev/null
		0 20 3 * * cd $ANALYTICS ; node TPV_CardVolume_v.js >/dev/null
		0 20 3,10 * * cd $ANALYTICS ; node TPV_p.js >/dev/null
		0 20 3 * * cd $ANALYTICS ; node TPV_avg_t1.js >/dev/null
		0 20 3 * * cd $ANALYTICS ; node TPV_avg_t2.js >/dev/null