##### VARIABLES #####
	PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/skilbjo/.local/bin:/home/skilbjo/bin
	MAILTO=jskilbeck@yapstone.com
	DAILY="/home/skilbjo/node/app/schedlr/jobs/Daily"
	FINANCE="/home/skilbjo/node/app/schedlr/jobs/Finance"
	RENT="/home/skilbjo/node/app/schedlr/jobs/Rent"
	CORPDEV="/home/skilbjo/node/app/schedlr/jobs/CorpDev"
	MARKETING="/home/skilbjo/node/app/schedlr/jobs/Marketing"
	ANALYTICS="/home/skilbjo/node/app/schedlr/jobs/Analytics"
	COMMISSIONS="/home/skilbjo/node/app/schedlr/jobs/Commissions"
	DIMENSION="/home/skilbjo/node/app/schedlr/jobs/Dimension"	
	COSTS="/home/skilbjo/app/aqtl/jobs/Costs"

##### Daily #####
	## TPV reports
		# 0 19 * * 2-6 skilbjo cd $DAILY ; node Daily_TPV.js >/dev/null
		# 1 19 * * 2-6 skilbjo cd $DAILY ; node Daily_Card_Volume.js >/dev/null
		# 1 16 * * 2-6 skilbjo cd $DAILY ; node Daily_Cash.js >/dev/null
		# 0 12 * * 2-6 skilbjo cd $DAILY ; node YapDM_Records >/dev/null

	## Testing
		50 16 * * * skilbjo cd $DAILY ; node test_Daily_TPV.js >/dev/null
		50 16 * * * skilbjo cd $DAILY ; node test_Daily_Card_Volume.js >/dev/null

##### Monthly #####
	## Analytics
		# 0 20 3,10 * * skilbjo cd $ANALYTICS ; node TPV_Vertical_m_ytd_v.js >/dev/null
		# 0 20 3,10 * * skilbjo cd $ANALYTICS ; node TPV_PaymentType_m_ytd_v.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node TPV_CardVolume_v.js >/dev/null
		# 0 20 3,10 * * skilbjo cd $ANALYTICS ; node TPV_p.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node TPV_avg_t1.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node TPV_avg_t2.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node IntlMix.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node FinanceAnalytics.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node Software_Rent.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node Software_VRP.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node Software_SRP.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node Software_Dues.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node Software_Inn.js >/dev/null
		# 0 20 3 * * skilbjo cd $ANALYTICS ; node Software_NonProfit.js >/dev/null

	## COGS
		0 12 5 * * skilbjo cd $COSTS ; node cogs_model.js >/dev/null

	## Finance
		# 0 18 2,3 * * skilbjo cd $FINANCE ; node cogs_Vantiv.js >/dev/null
		# 0 18 2,3 * * skilbjo cd $FINANCE ; node cogs_Mids.js >/dev/null

	## Rent & Account Management reports
		# 0 20 5 * * skilbjo cd $RENT ; node VisaPilot.js >/dev/null
		# 0 20 10 * * skilbjo cd $RENT ; node Tricity.js >/dev/null
		# 0 20 10 * * skilbjo cd $RENT ; node JerseyCentral.js >/dev/null		
		# 5 20 3 * * skilbjo cd $RENT ; node PenetrationRate.js >/dev/null
		# 5 20 3 * * skilbjo cd $RENT ; node PenetrationRate_Card.js >/dev/null
		# 5 20 3 * * skilbjo cd $RENT ; node PeopleTransacting.js >/dev/null
		# 5 20 3 * * skilbjo cd $RENT ; node Low_Cost_Debit.js >/dev/null

	## Marketing
		# 0 20 3 * * skilbjo cd $MARKETING ; node HA_Promotion_Monthly.js >/dev/null

	## Corp Dev
		# 0 20 3 * * skilbjo cd $CORPDEV ; node HA_Model_Net.js >/dev/null
		# 0 20 3 * * skilbjo cd $CORPDEV ; node HA_Active_Listings_Gross_All.js >/dev/null	
		# 0 20 3,10 * * skilbjo cd $ANALYTICS ; node HA_Gross.js >/dev/null	
		# 0 20 3,10 * * skilbjo cd $ANALYTICS ; node HA_Net.js >/dev/null		

	## Dimension
		# 18 12 4 * * skilbjo cd $DIMENSION ; node validation_AggregationTables.js >/dev/null
		# 18 12 4 * * skilbjo cd $DIMENSION ; node validation_DimensionTables.js >/dev/null
		# 18 12 4 * * skilbjo cd $DIMENSION ; node validation_HADimensionTables.js >/dev/null
		# 18 12 4 * * skilbjo cd $DIMENSION ; node validation_Issuer.js >/dev/null


	## Commissions
		# 0 20 3 * * skilbjo cd $COMMISSIONS ; node Domestic_HA.js >/dev/null	
		# 30 13 3 * * skilbjo cd $COMMISSIONS ; node Intl_HA_PPS.js >/dev/null	
		# 30 13 3 * * skilbjo cd $COMMISSIONS ; node Intl_HA_PPB.js >/dev/null	
		# 30 13 3 * * skilbjo cd $COMMISSIONS ; node Intl_NonHA.js >/dev/null					
		# 0 20 10 * * skilbjo cd $COMMISSIONS ; node EasyStorage.js >/dev/null		
		# 0 20 10 * * skilbjo cd $COMMISSIONS ; node Streamline.js >/dev/null		

