##### VARIABLES #####
	PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/skilbjo/.local/bin:/home/skilbjo/bin
	MAILTO=jskilbeck@yapstone.com
	BASE="/home/skilbjo/node/app/aqtl/jobs"
	ANALYTICS="/home/skilbjo/node/app/aqtl/jobs/Analytics"
	COSTS="/home/skilbjo/app/aqtl/jobs/Costs"
	DAILY="/home/skilbjo/node/app/aqtl/jobs/Daily"
	DIMENSION="/home/skilbjo/node/app/aqtl/jobs/Dimension"	
	FINANCE="/home/skilbjo/node/app/aqtl/jobs/Finance"
	OTHER="/home/skilbjo/node/app/aqtl/jobs/Other"


##### Daily #####
	## TPV reports
		0 19 * * 2-6 skilbjo cd $DAILY ; node Daily_TPV.js >/dev/null
		1 19 * * 2-6 skilbjo cd $DAILY ; node Daily_Card_Volume.js >/dev/null
		0 18 * * 2-6 skilbjo cd $DAILY ; node Daily_Cash.js >/dev/null
		0 12 * * 2-6 skilbjo cd $DAILY ; node YapDM_Records >/dev/null	

	## Testing
		0 17 * * 2-6 skilbjo cd $DAILY ; node Daily_Card_Volume_2.js >/dev/null
		25 18 * * * skilbjo cd $DAILY ; node test_Daily_TPV.js >/dev/null
		25 18 * * * skilbjo cd $DAILY ; node test_Daily_Card_Volume.js >/dev/null

##### Monthly #####
	## Analytics
		0 22 7 * * skilbjo cd $ANALYTICS ; node Analytics.js >/dev/null
		0 22 7,10 * * skilbjo cd $ANALYTICS ; node TPV_Vertical_m_ytd_v.js >/dev/null
		0 22 7,10 * * skilbjo cd $ANALYTICS ; node TPV_PaymentType_m_ytd_v.js >/dev/null
		0 22 7 * * skilbjo cd $ANALYTICS ; node TPV_CardVolume_v.js >/dev/null
		0 22 7,10 * * skilbjo cd $ANALYTICS ; node TPV_p.js >/dev/null
		0 22 7 * * skilbjo cd $ANALYTICS ; node TPV_avg_t1.js >/dev/null
		0 22 7 * * skilbjo cd $ANALYTICS ; node TPV_avg_t2.js >/dev/null
		0 22 7 * * skilbjo cd $ANALYTICS ; node IntlMix.js >/dev/null
		0 22 7 * * skilbjo cd $ANALYTICS ; node Software_Rent.js >/dev/null
		0 22 7 * * skilbjo cd $ANALYTICS ; node Software_VRP.js >/dev/null
		0 22 7 * * skilbjo cd $ANALYTICS ; node Software_SRP.js >/dev/null
		0 22 7 * * skilbjo cd $ANALYTICS ; node Software_Dues.js >/dev/null
		0 22 7 * * skilbjo cd $ANALYTICS ; node Software_Inn.js >/dev/null
		0 22 7 * * skilbjo cd $ANALYTICS ; node Software_NonProfit.js >/dev/null

	## COGS
		0 12 6 * * skilbjo cd $FINANCE ; node COGS_Model.js >/dev/null

	## Finance
		0 20 7 * * skilbjo cd $FINANCE ; node Vantiv_Bucket_Analysis.js >/dev/null
		0 20 7 * * skilbjo cd $FINANCE ; node MIDs_Upload.js >/dev/null

	## Rent & Account Management reports
		0 22 5 * * skilbjo cd $OTHER ; node Rent_VisaPilot.js >/dev/null
		5 22 3 * * skilbjo cd $OTHER ; node Rent_PenetrationRate.js >/dev/null
		5 22 3 * * skilbjo cd $OTHER ; node Rent_PenetrationRateCard.js >/dev/null
		5 22 3 * * skilbjo cd $OTHER ; node Rent_PeopleTransacting.js >/dev/null
		5 22 3 * * skilbjo cd $OTHER ; node Rent_Low_Cost_Debit.js >/dev/null
		39 12 9 * * skilbjo cd $OTHER"/Merchant_Reports" ; node Batch_Merchant_Reports.js >/dev/null

	## Marketing
		10 12 7 * * skilbjo cd $OTHER ; node HA_Promotion_Monthly_ParentLevel.js >/dev/null
		10 12 7 * * skilbjo cd $OTHER ; node HA_Promotion_Monthly_ChildLevel.js >/dev/null

	## Corp Dev
		0 23 4 * * skilbjo cd $OTHER ; node HA_Model_Net.js >/dev/null
		0 23 4 * * skilbjo cd $OTHER ; node HA_Active_Listings_Gross_All.js >/dev/null	
		0 23 4,10 * * skilbjo cd $ANALYTICS ; node HA_Gross.js >/dev/null	
		0 23 4,10 * * skilbjo cd $ANALYTICS ; node HA_Net.js >/dev/null		

	## Dimension
		25 12 4 * * skilbjo cd $DIMENSION"/Validation" ; node Batch_Validation_Reports.js >/dev/null

	## Commissions
		0 21 4 * * skilbjo cd $FINANCE"/HA" ; node Batch_HA_Reports.js >/dev/null	
		11 14 5 * * skilbjo cd $FINANCE"/Commissions" ; node Batch_Commission_Repports.js >/dev/null	

	

